<PixBlock class="training-card" @shadow="light">
  <a class="training-card__content" href={{@training.link}} target="_blank" rel="noopener noreferrer">
    <h3 class="training-card-content__title">{{@training.title}}</h3>
    <PixTag @color="purple-light" class="training-card-content__infos">
      <ul class="training-card-content-infos__list">
        <li class="training-card-content-infos-list__type">
          {{this.type}}
        </li>
        <li class="training-card-content-infos-list__duration">
          <time>{{this.durationFormatted}}</time>
        </li>
      </ul>
    </PixTag>
    <img class="training-card-content__image" src="/images/illustrations/trainings/Illu_Webinaire-1.jpg" alt="" />
  </a>
</PixBlock>