$header-height: 101px;

.user-settings {
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    padding: $pix-spacing-m;
  }

  &__title {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  &__submit {
    margin-top: 16px;
    margin-left: auto;
  }

  &__last-modified {
    margin-left: 16px;
  }

  /* Fix pour https://1024pix.slack.com/archives/C0149DV4873/p1652093702342479 */
  select {
    width: 100%;
  }
}
